{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <script src="{% static "torrent.js" %}"></script>
    <script src="{% static "controllers.js" %}"></script>
    <script src="{% static "factories.js" %}"></script>
{% endblock %}

{% block content %}
    <div ng-app="torrentApp">
        <div ng-controller="TorrentsController">
            <table class="mdl-data-table mdl-js-data-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th class="mdl-data-table__cell--non-numeric">Name</th>
                    <th>Size</th>
                    <th class="mdl-data-table__cell--non-numeric">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="torrent in torrents">
                    {% verbatim %}
                    <td>{{ $index + 1 }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ torrent[2] }}</td>
                    <td>{{ torrent[3] }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ torrent[21] }}</td>
                    {% endverbatim %}
                </tr>
                </tbody>
            </table>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="getCustomers()">Refresh</button>
        </div>
    </div>
{% endblock %}